<%= form_for(@spot) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% @spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <% if @spot.image? %>
  <div class="thumbnail">
    <%= image_tag @spot.image.url %>
  </div>
  <% end %><br>
  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</div>

<div class="field">
  <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
  <% if @spot.persisted? && @spot.image? %>
    <label>
      <%= f.check_box :remove_image %>
      画像を削除
    </label>
  <% end %>
</div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :charge %><br>
    <%= f.number_field :charge %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_area :place %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
