<p id="notice"><%= notice %></p>

<div class="panel panel-default">
 <div class="panel-heading">

<h1>スポット一覧</h1>
<p>心が卑しい人や疲れてる人におすすめです</p>
 <%= search_form_for(@q, method: :get) do |f| %>


  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :スポット_cont %>
      <%= f.text_field :title_cont, class: "form-control", placeholder: "タイトル" %>
    </div>
  </div>
  <div class="col-sm-6">
   <div class="form-group">
    <%= f.label :スポット_or宗派_cont %>
    <%= f.text_field :title_or_sect_cont, class: "form-control", placeholder: "複数条件部分一致" %>
   </div>
  </div>






  <div>
    <%= f.submit '検索する' %>
  </div>
  <%= paginate @spots %>

</div>
</div>

<% end %>








<table>

<div class="row">
  <tbody>
    <% @spots.each do |spot| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">




        <% if spot.image? %>
         <div class="thumbnail">
           <%= image_tag spot.image.thumb.url %>

         </div>
         <% else %>
        <div class="thumbnail">
         <%= image_tag 'teraview' %>
        </div>
        <% end %>


        <div class="caption">

          <h3 >【<%= spot.title %>】<small><%= spot.sect %></small></h3>
          <p><%= spot.place %></p>

          <% if spot.description? %>
          <p class="panel-footer"><%= spot.description.truncate(90, omission: '...') %></p>
          <% else %>
          <p class="panel-footer">仏の顔も三度まで。仏の顔も三度まで。仏の顔も三度まで。仏の顔も三度まで。仏の顔も三度まで。仏の顔も三度まで。仏の顔も三度まで。</p>
          <% end %>

          <p class="btn btn-lg btn-block  bg-warning text-muted" role="button"><%= link_to '詳しく見る', spot %></p>
          <%= link_to "消す", spot, method: :delete %>

        </div>
      </div>
    </div>
    <% end %>
  </tbody>
</div>
</table>

<br>

<%= link_to 'New Spot', new_spot_path %>
