<p id="notice"><%= notice %></p>
<p>
  <strong>Image</strong>
  <% if @spot.image? %>
   <div class="thumbnail">
     <%= image_tag @spot.image.url %>
   </div>
  <% end %>
</p>


<p>
  <strong>Title:</strong>
  <%= @spot.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @spot.charge %>
</p>

<p>
  <strong>Place:</strong>
  <%= @spot.place %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @spot.phone %>
</p>
<%= link_to "体験談を説法する", new_spot_postarticle_path(@spot) %>
<%= render "postarticles/index" %>

<%= link_to 'Edit', edit_spot_path(@spot,@user) %> |
<%= link_to 'Back', spots_path %>
