<p id="notice"><%= notice %></p>

<h1 class="class: 'btn bg-danger btn-lg btn-block'">体験談</h1>

<table>

  <tbody>
  <div class="row">
    <% @postarticles.each do |postarticle| %>


      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">

          <div class="caption">
            <%= image_tag postarticle.post_image.thumb.url %>
            <small><%= postarticle.user.name %></small>
            <p><%= postarticle.title %></p>
            <p><%= link_to 'Show', spot_postarticle_url(postarticle.spot, postarticle) %></p>
          </div>
        </div>
      </div>



    <% end %>
      </div>
  </tbody>
  <%= paginate @postarticles %>
</table>

<br>
