<p id="notice"><%= notice %></p>
<h2><%= @postarticle.spot.title %></h2>
<h4>パワースポット体験談</h4>
<div>
<%= link_to "スポットの紹介に戻る", spot_path(params[:id]) %>
</div>
<div>
<%= @postarticle.created_at %>
</div>
<%= image_tag @postarticle.post_image.url %>
<p>
  <strong>投稿者:</strong>
  <%= @postarticle.user.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @postarticle.title %>
</p>

<p>

  <%= @postarticle.content %>
</p>

<%= render "footer", user: @user %>
<%= render "votes" %>
