<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>
<body>
<div class="row">
<section class="jumbotron top">
  <div class="container">
    <h1>心が病んだなら。<br>ちょっと、寺に行こうか…</h1>
    <p>癒しの場所,心を豊かにする場所として、寺院を検索できるサービスです</p>

  </div>
  </div>
</section>
  <section class="intro">

  <div class="col-sm-6 right">



  </div>
  <div class="col-sm-6">
    <h2>都内のスポットを探す</h2>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
  </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
    <p class="btn btn-warning btn-block" role="button"><%= link_to "都内のスポットを検索する", spots_path %></p>
  </div>

  </section>
  <section class="intro2">
    <div class="col-sm-6 ">
      <h2>イベントに参加して心を正す</h2>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      </p>DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/DEMODAY/</p>
      <p class="btn btn-warning btn-block" role="button"><%= link_to "開催しているイベントを探す", events_path %></p>

    </div>
    <div class="col-sm-6 left">


    </div>

  </section>
  <section class="bx_part">
  <ul class="bxslider">
    <li><%= image_tag("bx_image1.jpg") %></li>
    <li><%= image_tag("bx_image2.jpg") %></li>
    <li><%= image_tag("bx_image3.jpg") %></li>
    <li><%= image_tag("bx_image4.jpg") %></li>

  </ul>
  </section>
  </div>
</body>
</html>
